/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #1d6094;
  height: 1px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}


body {
    font-family: 'Lato', sans-serif;
    color: #1d6094;
}

a {
    color: #1d6094;
}
a.current,
a:hover {
    color: #1d6094;
    text-decoration: none;
}

a.underline {
    border-bottom: 1px solid #1d6094;
}
a.underline:hover{
    border-bottom: 1px none #1d6094;
}

a.iconlink,
a.iconlink:hover {
    text-decoration: none;
    border-bottom: none;
    margin: 0 6px 0 0;
}

h1, h2, h3, h4 {
    color: #cf9ea2;
    font-family: 'Sumana', serif;
}
h1 {
    margin-top: 1em;
    font-size: 3.3em;
}
h2 {
    /*margin-top: 3em;*/
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-size: 3em;
}


header {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1;
    height: 200px;
    /*overflow: hidden;*/
    transition: all 0.4s;
}

header.smaller {
    height: 80px;
}

footer {
    margin-top: 100px;
    background-color: #1d6094;
    color: #a4bed2;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size:1.3em;
    padding: 20px 0 100px;
}

.footer_image {
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: -100px;
    margin-top: -34px;
    z-index: -1;
}

footer a{
    color: #EEC6CC;
}

footer a:hover{
    color: #fff;
}

.footer_bg {
    width: 100%;
    background-color: #1d6094;
}


.footer_column {
    padding:0 50px;
    color: #EEC6CC;
}

.footer_column h4{
    font-family: 'Lato', sans-serif;
    color: #fff;
    margin-top: 40px;
}



/* Utilities */
.centered {
    text-align: center;
}

.left-justified {
    text-align: left;
}

.right-justified {
    text-align: right;
}

.allcaps {
    text-transform: uppercase;
}

.padding-40 {
    padding: 40px;
}

.no-padding {
    padding: 0;
}

.faded {
    opacity: 1;
    transition: opacity 0.4s;
}
.faded:hover {
    opacity: 0.7;
}

.grayBg {
    background: #D7D2CF;
}

/* Elements */

#mainLogo{
    height: 105px;
    margin-top: 36px;
    margin-bottom: 0px;
    transition: all 0.4s;
    cursor: pointer;
}

#mainLogo.smaller {
    margin-top: 17px;
    height: 50px;
    margin-left: 14px;
}

#mainMenuContainer {
    margin-top: 10px;
    padding: 6px;
}

#socialContainer {
    margin-top: 0px;
    padding: 6px;
}

.mainMenuItems {
    padding: 10px;
    letter-spacing: 0em;
    margin-top: 11px;
}

.mainMenuItems a {
    font-size: 1.3em;
    font-weight: 100;
    margin: 0 22px;
    letter-spacing: 0.07em;
}

.mainMenuItems.smaller {
    margin-top: 20px;
    font-size: 0.9em;
}

#mainMenuSmContainer {
    display: none;
}

#mainContainer {
    margin-top: 200px;
}

.image_splash {
    position: relative;
    background: url('../img/top.jpg');
    background-position: 50% 0;
    background-size: cover;
    height: 500px;
}

.image_splash h1 {
    position: absolute;
    bottom: 18px;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 3.1em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    font-weight: 100;
    letter-spacing: 0.06em;
}

.image_service {
    height: 200px;
    background-color: #fee;
    background-position: 50% 0;
    background-size: cover;
}

.image_service .label {
    position: absolute;
    right: 10px;
    top: 70px;
    color: #fff;
    font-size: 3em;
    font-weight: 100;
}

.image_serviceA {
    background-image: url('../img/headspa2.jpg');
}

.image_serviceB {
    background-image: url('../img/haircut2.jpg');
}


.promo {font-weight: 100;}
.promo .title {margin-bottom: 20px;  font-size: 1.8em;}
.promo .content { font-size: 1.8em;}
.promo .discount {
    font-size: 2.2em;
    font-family: "Sumana", serif;}
.promo .expires {margin-top: 20px; font-size: 1em;}
.promo ul {}


.avatar {
    padding: 0 60px;
/*    -webkit-filter: grayscale(.8) contrast(0.3) brightness(1.5);
    transition: all .2s;*/
}
.avatar:hover {
    /*-webkit-filter: grayscale(0) contrast(1) brightness(1);*/
}
.avatar_title {
    margin-top: 15px;
    font-weight: 100;
    font-size: 1.6em;
}
.avatar_description {
    color: #cf9ea2;
    font-family: 'Sumana', serif;
    font-size: 1.1em;
}

.interior-dropdown {
    padding: 0;
    margin: 0;
    background-color: #1d6094;
    border: 0 none;
    line-height: 40px;
    transition: all 0.4s;
}
.interior-dropdown a {
    color: #EEC6CC;
}


.btn-large {
    border: 0 none;
    padding: 20px 40px;
    border-radius: 48px;
    background-color: #EEC6CC;
    color: #1d6094;
    font-size: 1.5em;
    font-weight: 100;
}

.contactEmail {
    font-size: 1.2em;
    margin: 30px 0;
}

.menuToggle {
    top: 25px;
    position: absolute;
    right: 30px;
    font-size: 2.5em;
}

.fullScreenMenu {
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    max-height: 800px;
    background: #fff;
    font-size: 1.5em;
    line-height: 1em;
    text-align: center;
    overflow: hidden;
    padding-bottom: 50px;
    transition: all 0.4s;
}

.fullScreenMenu.collapsed {
    max-height: 0;
    padding-bottom: 0;
}


/* Hide large menu for narrow windows */
@media (max-width: 992px) {
    header {
        height: 80px;
    }

    #mainMenuLgContainer {
        display: none;
    }

    #contentContainer {
        top: 80px;
    }

    #mainMenuSmContainer {
        display: inherit;
    }

    .projectData {
        font-size: 8pt;
    }
    .projectData p{
        font-size: 1.3em;
    }

    #mainContainer {
        margin-top: 50px;
    }

    .footer_image{
        height: 200px;
    }
}

@media (min-width: 992px) {
    .fullScreenMenu{
        display: none !important;
    }
}

.carousel-control {
    width: 5%;
}
.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(255,255,255,.5) 0,rgba(255,255,255,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(255,255,255,1) 0,rgba(255,255,255,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,1)),to(rgba(255,255,255,.0001)));
    background-image: linear-gradient(to right,rgba(255,255,255,1) 0,rgba(255,255,255,.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel-control.right {
    background-image: -webkit-linear-gradient(left,rgba(255,255,255,.0001) 0,rgba(255,255,255,1) 100%);
    background-image: -o-linear-gradient(left,rgba(255,255,255,.0001) 0,rgba(255,255,255,1) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,.0001)),to(rgba(255,255,255,1)));
    background-image: linear-gradient(to right,rgba(255,255,255,.0001) 0,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}


/* MailChimp */
#mc_embed_signup{
    font-family: 'Lato', sans-serif;
    color: #1d6094;
    font-weight: 400;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/*@media (min-width: 768px) {
    body {
        background : red;
    }

    #contentContainer {
        top: 600px;
    }

    .projectLinkTitle {
        font-size: 100px;
    }
}*/

/* Medium devices (desktops, 992px and up) */
/*@media (min-width: 992px) {
    body {
        background : green;
    }
}*/

/* Large devices (large desktops, 1200px and up) */
/*@media (min-width: 1200px) {
    body {
        background : blue;
    }
}*/
