/* Bootstrap override */
.modal-header {
     padding: 0;
     border-bottom: 0 none;
}

.model-header .profile {
    margin: 30px 0;
}

.modal-header .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 4em;
    font-weight: 100;
    color: #cf9ea2;
    opacity: 1;
}
.modal-content {
    border-radius: 0;
}
.modal-body p {
    font-size: 1.1em;
    padding: 0 30px 30px;
}

/* Custom Styling */
.row_stylists {
    margin: 60px 0;
}

.profile {
    margin: 60px 0;
}

.avatar {
    padding: 0 60px;
    cursor: pointer;
    transform: translate(0,0) scale(1);
    transition: all .1s;
}

.avatar:hover {
    transform: translate(0,-3px) scale(1.05);
}

img.avatar {
    transition: all .2s;
    -webkit-filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
    filter:         drop-shadow(0 0 0 rgba(0, 0, 0, 0));
}

img.avatar:hover {
    -webkit-filter: drop-shadow(0 10px 4px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0 10px 4px rgba(0, 0, 0, 0.5));
}